<html lang="en">

<head>
    {% include "plantillas/css.html.twig" %}

    <!-- Plugins css Start-->
    {% block css %}{% endblock %}
    <!-- Plugins css Ends-->

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/vendors/bootstrap.css') }}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <link id="color" rel="stylesheet" href="{{ asset('assets/css/color-1.css') }}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css') }}">
</head>

{% block body %}

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
      
        <div class="col-xl-9 col-md-12 box-col-12">
            <div class="file-content">
                <div class="card">
                    <div class="card-header">
                        <div class="media">
                            <form class="form-inline" action="#" method="get">
                                <div class="form-group mb-0">
                                    <i class="fa fa-search"></i>
                                    <input class="form-control-plaintext" type="text" placeholder="Search...">
                                </div>
                            </form>
                            <div class="media-body text-end">
                            
                                <a href="{{ path('subir_podcast') }}" class="btn btn-primary">
                                    <i data-feather="upload"></i>Upload
                                </a>
                            </div>
                        </div>
                    </div>
     <!-- Resto de tu código HTML -->

<div class="card-body file-manager">
<h4>Podcasts</h4>
<ul class="files">
   {% if podcasts is empty %}
                        <p>No hay podcasts disponibles.</p>
                    {% else %}
                        <ul>
                            {% for podcast in podcasts %}
                                <li class="file-box">
                                    <strong>Título:</strong> {{ podcast.titulo }}
                                    <br>
                                    <strong>Fecha de Subida:</strong> {{ podcast.fechaSubida|date('Y-m-d H:i:s') }}
                                    <br>
                                    <strong>Descripción:</strong> {{ podcast.descripcion }}
                                    <br>
                                    <strong>Audio:</strong> {{ podcast.audio }}
                                        <audio controls>
                                        <source src="{{ asset('assets/audio/' ~ podcast.audio) }}" type="audio/mpeg">
                                        Tu navegador no admite la reproducción de audio.
                                    </audio>
                                    <br>
                                    <strong>Imagen:</strong>
                                        <img src="{{ asset('assets/images/' ~ podcast.imagen) }}" alt="Imagen del podcast" style="max-width: 200px; height: auto;">
                                        
                                        <hr>
                                        <a href="{{ path('editar_podcast', { 'id': podcast.id }) }}" class="btn btn-primary">Editar</a>
                                        <a href="{{ path('eliminar_podcast', { 'id': podcast.id }) }}" class="btn btn-danger">Eliminar</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
</ul>
</div>

<!-- Resto de tu código HTML -->

    </ul>
                 </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ asset('assets/js/icons/feather-icon/feather-icon-clipart.js') }}"></script>
<script src="{{ asset('assets/js/typeahead/handlebars.js') }}"></script>
<script src="{{ asset('assets/js/typeahead/typeahead.bundle.js') }}"></script>
<script src="{{ asset('assets/js/typeahead/typeahead.custom.js') }}"></script>
<script src="{{ asset('assets/js/typeahead-search/handlebars.js') }}"></script>
<script src="{{ asset('assets/js/typeahead-search/typeahead-custom.js') }}"></script>
{% endblock %}
